// 颜色定义规范
$cl-bg-ct: rgba(102, 175, 255, .2);
$cl-text: #fff;
$cl-bg-btn:blue;
$cl-text1:#333; 

//字体定义规范
$fz-ss: 10px;
$fz-xs: 12px;
$fz-sm: 14px;
$fz-md: 16px;
$fz-lg: 18px;
$fz-gg: 22px;


// 页面整理的宽度 是 1200 还是自适应
$width-page: 80%;


// 页面颜色
$header-footer: rgba(33,33,33,.8);
//$hover: #00c1de;
$hover: rgba(3,150,255 ,1);
//$mask: rgba(0,194,222,.5);
$mask: rgba(0,0,0,.5);
$section-title: #333;
$sblock-gray: #f5f5f6;
$sblock-gray-text: #5f6367;
$sblock-dark: #373d41;
$sblock-dark-text: #d7d8d9;
$team-border-right-bottom: #ddd;
$team-border: #eee;

$box-shadow-hover: #bbb;
$box-shadow: #c5c5c5;
$train-icon-border: #efefef;
$icon-icontianjiatupian: #dcdcdc;
